.git
.github
.gitignore
.prettierrc
.cjs.swcrc
.es.swcrc
bun.lockb

node_modules
tsconfig.json
pnpm-lock.yaml
jest.config.js
nodemon.json

src
trace
example
tests
test
CHANGELOG.md
.eslintrc.js
tsconfig.cjs.json
tsconfig.esm.json
tsconfig.test.json
vite.config.js
.github
.eslintrc
tsup.config.ts
